.login {
    background: linear-gradient(to bottom, rgb(178, 178, 247), rgb(243, 178, 243));
    width: 100%;
    height: 100vh;
}

.logo {
    width: 100px;
    margin: 30px;
}

.sign-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65%;
}

.inner-signin {
    background-color: #111b49;
    margin: 10px;
    padding: 45px;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inner-signin p {
    color: rgb(184, 182, 182);
    font-size: 12px;
}

.inner-signin button {
    background: linear-gradient(to right, #6366F1, #312E81);
    /* width: 200px; */
    border: none;
    margin-left: 2%;
    color: white;
    cursor: pointer;
}

.inner-signin .forget-password {
    margin-top: 12px;
    color: #6366F1;
    font-weight: 500;
    cursor: pointer;
    width: 100px;
}

.input-name,
.inner-signin button {
    background-color: #333A5C;
    padding: 6px;
    width: 210px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
    margin-top: 10px;
}

.inner-signin span {
    color: #6366F1;
    text-decoration: underline;
    cursor: pointer;
}

.input-name input {
    background: transparent;
    border: none;
    color: white;
    outline: none;
}

.input-name input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    /* Light white */
}